@import url('https://fonts.googleapis.com/css2?family=Poppins');

@media screen and (max-width: auto){
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    overflow: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    
}

.container {
    max-width: 100%;
    
}

.wrapper {
    flex: 1;
}

.footer{
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    padding: 10px 0;
}

.footer p{
    margin: 0;
}

.header {
    position: fixed;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 6px 0px 20px 7.25px;
    top: 0;
    left: 0;
    width: 99%;
    height: 80px;
    padding: 15px 0;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.slogan{
    font-size: medium;
    margin-right: 104px;
    padding-right: 130px;
}
.imagex {
    width: 65px;
    height: 70px;
    margin-left: 49.66%;
    margin-top: 7.55px;
    cursor: default;
}
.logo {
    font-size: 35px;
    color: black;
    text-decoration: none;
    padding-right: 230px;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 400;
    margin-left: 20px;
    transition: .3s;
}
}

.navbar a:hover,
.navbar a.active {
    font-weight: bold;
    color: navy;
}
